@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

body {
    background-image: url('../img/dc.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.container {
    display: flex;
    background-color: #00000072;
    color: #ffffff;
    padding-top: 100px;
    padding-left: 100px;
    padding-right: 100px;
    
}

.main-content {
    flex: 3;
    padding: 20px;
    padding-top: 20px;
    color: #ffffff;
}

.main-content h1, h2 {
    color: #ffffff;
}

.main-content P {
    color: #ffffff;
    padding-right: 50px;
    padding-left: 62px;
    font-size: 18px;
    font-weight: bold;
    text-align: left;
}

.main-content a {
    text-decoration: none; /* Remove o sublinhado padrão dos links */
    color: #eec051; /* Cor do texto dos links */
}

.sidebar {
    flex: 1;
    background-color: #90391c;
    padding: 15px;
    padding-top: 10px;
}

.sidebar e {
    color: #90391c;
}

.sidebar h2 {
    text-align: center;
    color: #eec051;
}

.sidebar h3 {
    text-align: center;
    color: #eec051;
}

.sidebar b {
    color: #eec051;
}

.sidebar a {
    text-decoration: none; /* Remove o sublinhado padrão dos links */
    color: #000000; /* Cor do texto dos links */
}

.sidebar img {
    width: 300px;
    height: auto; /* Mantém a proporção da imagem */
    margin: 0 auto; /* Centraliza horizontalmente */
    border: 2px solid #ccc;
  }


.logo img {
    width: 200px;
    height: auto; /* Mantém a proporção da imagem */
    margin: 0 auto; /* Centraliza horizontalmente */
    margin-left: 50px;    
  }