@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

body {
    background-color: #000000;
}

.container {
    display: flex;
    background-color: #000000;
    color: #1b1b1b;
    padding-top: 100px;
    padding-left: 100px;
    padding-right: 100px;
    
}

.main-content {
    flex: 3;
    padding: 20px;
    padding-top: 20px;
    color: #f0f0f0;
}

.sidebar {
    flex: 1;
    background-color: #525456;
    padding: 20px;
    opacity: 0.8; 
}

.translucent {
    opacity: 0.9; /* Ajuste o valor de 0 a 1 para controlar a transparência */
    background-color: #525456; /* Cor de fundo da seção */
  }

.main-content h1 {
    color: #eec051;
}

.main-content P {
    color: #90391c;
    padding-right: 50px;
}